<center>
<div class="card" style="width: 500px; height: 400px; margin-top: 50px; background-color: whitesmoke;">
    <%= image_tag "login-removebg-preview.png", class:"card-img-top" , style:"height: 150px; width: 150px; align: center; margin-left: 180px; margin-top: 30px;"%>
    <div class="card-body">
        <%= form_tag '/login' do %>
            <%= label_tag 'Username'%>
            <%= text_field_tag :name %><br>
            <br>
            <%= label_tag 'Password'%>
            <%= password_field_tag :password %></p> 

            <%= submit_tag "Log In", class: "btn btn-outline-dark", style: 'border-radius: 40px;  width: 200px; margin-left: 25px;' %>
        <% end %>
        <%= link_to 'Signup', '/signup'%><br />
        <%= link_to 'forget password', '/forget_password'%>
    </div>
</div>
</center>